---
import Main from '../Main';
import '../styles/global.css';
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Metabolic Defense | GLP-1 Support System" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Metabolic Defense | GLP-1 Support System</title>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;500;700&family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
	</head>
	<body>
		<Main client:only="react" />
	</body>
</html>
